<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="turbo-cache-control" content="no-cache">
    <title>Chase Brasil - Pedidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

</head>
  <body>
    <div class="wrapper">
      <%= render 'home/layouts/partials/header' %>
      <%= render 'home/layouts/partials/sidebar' %>
      <%= render 'home/layouts/partials/content' %>
    </div>
  </body>
</html>