<% title 'Home' %>

<%= render 'layouts/partials/messages' %>
<div class="row">
  <div class="col-12">
    <span class="d-flex justify-content-center"> Buscar código de rastreio: </span>
    <div class="container d-flex justify-content-center mt-2">
      <input class="form-control" id="tracking_number" placeholder="Num pedido correios">
      <button class="btn btn-dark text-secondary"id="search_button"><i id="loading" class="fa-regular fa-compass"></i></button>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="badge bg-secondary text-info mt-2 d-flex justify-content-center fs-5" id="tracking_result"></div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#search_button').click(function() {
      var trackingNumber = $('#tracking_number').val();
      $('#loading').addClass('fa-spin');
      $.ajax({
        url: '<%= tracking_dashboard_index_path %>',
        type: 'GET',
        data: { tracking_number: trackingNumber },
        dataType: 'json',
        success: function(response) {
          if (response[0]) {
            $('#tracking_result').html(response[0]['codigoObjeto']);
          } else {
            $('#tracking_result').html('Nenhum resultado encontrado.');
          }
          $('#loading').removeClass('fa-spin');
        },
        error: function() {
          $('#tracking_result').html('Erro ao buscar informações de rastreamento.');
        }
      });
    });
  });
</script>