<aside class="left-menu">
  <div class="aside-inner">
    <div class="d-flex justify-content-center flex-shrink-0 p-3 text-white">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
            <i class="fas fa-home h5"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-dashboard h5"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-list h5"></i> Pedidos Tiny ERP
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-box-open"></i> Pedidos Shopify
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-truck"></i> Pedidos Correios LOG+
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <small class="text-light"> Chase Brasil <i class="fas fa-registered"></i></small>
  </div>
</aside>